h1 {
  color: white;
  text-align: left; /*TODO center*/
}

h2 {
  color: white;
  text-align: left; /*TODO center*/
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  min-height: 100%;
}

/* HOME */
#home {
  background: url(../img/homeRalph.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#arrows {
  position: center;
}