h1 {
  color: white;
  text-align: left; /*TODO center*/
  z-index: 1;
}

h2 {
  color: white;
  text-align: left; /*TODO center*/
  z-index: 1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  min-height: 100%;
}

/* HOME */
#home {
  background: url(../img/homeRalph.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: left;
  position: relative;
}

#color-overlay {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4;
  position: absolute;
}

#arrows {
  position: center;
}